.main-content {
    padding: 20px;
    margin-left: 250px; /* Adjust based on your sidebar width */
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
}
/* Add this to your CSS file */
.button-group {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
    justify-content: center; /* Center the buttons */
}

.pagination {
    margin-bottom: 0;
  }
  
  .pagination .page-item .page-link {
    color: #198754;
    border-color: #dee2e6;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #198754;
    border-color: #198754;
    color: white;
  }
  
  .pagination .page-item .page-link:hover {
    background-color: #e9ecef;
    color: #198754;
  }
  
  .pagination .page-item.disabled .page-link {
    color: #6c757d;
    border-color: #dee2e6;
  }